body {
  margin: 0px;
  background-color: rgb(236, 236, 236);
  overflow: hidden;
}

@media (max-width: 999px) {
  .header-title {
    font-size: 24px !important;
  }

  .header-input {
    display: none;
  }
}
